@import './_colors'
@mixin positionCon()
    display: flex
    justify-content: center
    align-items: center
    transition: .2s
    flex-direction: column
@mixin customWidthIncrease($width, $i)
    width: #{$width * $i *0.8}px

@mixin PositionCenterSingleItem()
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin MenuLeftForUserDetails($left)
    position: fixed
    left: $left
    top: 10vh
    background-color: #111
    width: 15vw
    transition: .3s
    ul
        list-style-type: none
        display: flex
        flex-direction: column
        height: 90vh
        margin: 0
        padding: 0
        max-height: 100vh
        width: 100% !important
        align-items: center
        justify-content: start
        width: 10vw
        li
            flex-basis: 7%
            font-size: 20px
            margin-top: 14px
            width: 80%
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            display: flex
            align-items: center
            justify-content: space-evenly
            position: relative
            color: $main_Purple
            cursor: pointer
            transition: .3s
            &:hover
                color: $main_White
                background-color: $main_Black
            .TextContainer
                flex-grow: 1
                text-align: left
            .IconContainer
                flex-basis: 25%
                display: flex
                flex-direction: column
                justify-content: center
