@import '../variables/_colors'
.ConForOptionsParent
    display: flex
    margin: 20px 20px 20px -5px
    width: 80%
    flex-wrap: wrap
    .ConForOptions
        flex-basis: 20%
        padding: 10px
        text-align: center
        margin: 5px
        background-color: $main_White
        transition: .2s
        cursor: pointer
        &:hover
            background-color: $second_Green
            color: white
    .ConForOptions[data-ison="dark"]
        flex-basis: 20%
        padding: 10px
        text-align: center
        margin: 5px
        background-color: $secondary_black
        transition: .2s
        cursor: pointer
        &:hover
            background-color: $second_Green
            color: white

@media(max-width: 720px)
    .ConForOptionsParent
        width: 100%
        margin-bottom: 20px
        justify-content: center
        .ConForOptions
            flex-basis: 45%
            border: 1px solid black
        .ConForOptions[data-ison="dark"]
            flex-basis: 45%
            border: 1px solid white
    .ConForOptionsParentContainer
        margin-bottom: 20px
        width: 95vw
        margin: 5vh 5vh 25vh -7.5vw
